.stopwatch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 50px;
}

.stopwatch span{
    width: 100px;
    text-align: center;
    font-weight: 2000;
    /* border: 2px solid black; */
    border-radius: 20%;
    margin-left: 10px;
    background-color: #1a1e23;
    font-size: 20px;
    color: red;
    padding: 20px
}

.button-container {
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    gap: 2px;
    justify-content: center;
    margin: 10px 0;
}

.button-container button {
    width: 100px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #45a049;
}